<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104868468709-b1dqbra6mgt8e3qdlhidp5odueic96jc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104868468709-b1dqbra6mgt8e3qdlhidp5odueic96jc</string>
	<key>API_KEY</key>
	<string>AIzaSyAUsrVkeqTytNeH6ssi8H_Cd7JsHEnBQzE</string>
	<key>GCM_SENDER_ID</key>
	<string>104868468709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dosp.jihaapp</string>
	<key>PROJECT_ID</key>
	<string>dosp-1661944144835</string>
	<key>STORAGE_BUCKET</key>
	<string>dosp-1661944144835.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104868468709:ios:95e552b8f4d020a6c3810c</string>
</dict>
</plist>